.ui-body-a:not(.homepage-only) {
    background:url("images/backgroundimage.png")  center center;
    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;
    /* The Magic */
    background-size:cover;
}

/*background image for homepage only*/
.homepage-only  {
    background:url("images/backgroundimage_home.png") no-repeat center center;
    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;
    /* The Magic */
    background-size:cover;
}


/*styling for map element*/
#map_canvas {
    height:250px;
    width: auto;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}

/*styling for navigation bar*/
.open a, .open a:hover {
    padding: 7px 15px;
    background-color: #fffff;
    border-radius: 3px;
}
.open { 
    color: #3255a4;
    position: absolute;
}
.open.left {
    left: 20px;
    cursor: pointer;
}
.open.right {
    right: 20px;
    cursor: pointer;
}
.panel {
    background: #7F8C8D;
    color: #ECF0F1;
}
.panel a {
    text-shadow: 0 0 0 rgba(0,0,0,0);
    padding: 15px 20px 15px 60px;
    display: block;
    text-decoration: none;
    position: relative;
    font-weight: 400;
}
.panel ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel .avatar {
    position: absolute;
    top: 8px;
    left: 20px;
}
.ui-panel-inner {
    padding: 0;
}
.panel a:hover {
    background-color: #e6e6e6;
}

.panel.left a:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 15px;
    left: 20px;
    text-align: center;
    font-family: 'FontAwesome'; 
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;    
}
.panel.left .homepage_settings a:before { 
    content: '\f015';
 
}
.panel.left .module_settings a:before { 
    content: '\f19c';
}
.panel.left .schedule_settings a:before { 
    content: '\f073';
}
.panel.left .message_settings a:before { 
    content: '\f003';
}
.panel.left .about_settings a:before { 
    content: '\f196';
}